/* index.css */

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f0f8ff; */
  }
  
  /* Main Page Layout */
  .main-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  }
  
  .logo {
    width: 20%; /* Adjust width as needed */
  }
  
  .profile-dropdown {
    width: 20%; /* Adjust width as needed */
    text-align: right;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .play-button,
  .learn-button,
  .shop-button {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    margin: 0 1rem;
    border: none;
    background-color: #4CAF50; /* Green background */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .shop-button {
    background-color: #008CBA; /* Blue background */
  }
  
  .sound-toggle {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
    color: #555555;
  }
  