@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.primary-bg{
    background: rgb(105,255,242);
    background: linear-gradient(97deg, rgba(105,255,242,1) 0%, rgba(255,255,255,1) 100%); 
}

/* index.css */

.profile-dropdown {
    position: relative;
    width: 40px; /* Adjust width as needed for the icon */
    cursor: pointer;
  }
  
  .profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #555555;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content ul li {
    padding: 1rem;
    cursor: pointer;
  }
  
  .dropdown-content ul li:hover {
    background-color: #f0f0f0;
  }

  .linear-bg{
    background: linear-gradient(269.82deg, #07091c00 0.17%, #080a1ad6 99.87%)
}
.hoveres{
    @apply hidden
}

.hovered:hover .hoveres{
    @apply flex-colo
}

.flex-colo{
    @apply flex flex-col justify-center items-center;
}

.flex-rows{
    @apply flex flex-row justify-center items-center;
}

.flex-btn{
    @apply flex justify-between items-center;
}

.transitions{
    @apply transition duration-300 ease-in;
}